* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 20px 60px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #333;
  font-size: 20px;
}

body {
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  height: 70px;
  width: 100%;
  padding: 30px;
  position: fixed;
  top: 0px;
  opacity: 0.9;
}

.navbar a {
  color: #fff;
  padding: 10px 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #fff 2px solid;
}
.navbar ul {
  display: flex;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

.hero-aboutus {
  background: url("../images/scott-webb-1ddol8rgUH8-unsplash.jpg") no-repeat
    center center/cover;
  height: 100vh;
  text-align: center;
  position: relative;
}

.hero-contactus {
  background: url("../images/bailey-anselme-Bkp3gLygyeA-unsplash.jpg") no-repeat
    center center/cover;
  height: 100vh;
  text-align: center;
  position: relative;
}

.hero {
  background: url("../images/aaron-huber-s95oB2n9jng-unsplash.jpg") no-repeat
    center center/cover;
  height: 100vh;
  text-align: center;
  position: relative;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  color: #fff;
}

.hero .content h1 {
  font-size: 60px;
}

.hero .content p {
  font-size: 30px;
  width: 600px;
  margin: 10px 30px;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.hero * {
  z-index: 20;
}
